* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  display: flex;
  background-color: rgb(8, 3, 61);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
nav h1 {
  color: white;
  margin-left: 25px;
}
a {
  color: white;
  text-decoration: none;
}
li input {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1.5px white solid;
  padding-left: 10px;
  margin-left: 50px;
}
::placeholder {
  color: white;
}
li input:focus {
  outline: none;
  border: none;
  border-bottom: 1.5px white solid;
}
.pir {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 40px;
  margin: 70px 40px;
}
.card {
  position: relative;
  box-shadow: 0 0 10px gray;
  border-radius: 15px;
  transition: 0.8s ease;
}
.card:hover {
  transform: scale(1.1);
}
.card .image {
  width: 100%;
  height: 45%;
}
.card .image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card .text p {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: gray;
}
.card h2 {
  text-align: center;
  margin-top: 15px;
}
.card .text a {
  margin-left: 110px;
  margin-top: 30px;
  color: black;
  font-weight: 600;
}
