:root {
  --primary: #1e2e4f;
  --secondry: #8fb3e2;
  --third: #f8f8f8;
  --fourth: #050e23;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: whitesmoke;
}
nav {
  display: flex;
  gap: 300px;
  padding: 10px;
  background-color: var(--fourth);
  margin: 20px 30px;
  border-radius: 50px;
  align-content: center;
}
nav h1 {
  color: var(--secondry);
  margin-left: 10px;
}
.pp {
  margin-left: 250px;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 20px;
}
ul {
  padding: 10px;
  display: flex;
  gap: 60px;
  list-style: none;
}
a:hover {
  color: var(--third);
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
li input {
  margin-left: 100px;
  width: 200px;
  border: none;
  background: transparent;
  border-bottom: 1.5px white solid;
  color: white;
  padding-left: 10px;
}
li input:focus{
  outline: none;
  border: none;
  border-bottom: 1.5px white solid;
}
::placeholder{
  color: white;
}

.details-page {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  background: transparent;
  box-shadow: 0 0 40px gray;
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  border-radius: 30px;
}

.controls {
  position: absolute;
  left: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 5;
}

.controls button {
  width: 30px;
  height: 30px;
  border: none;
  background: #888;
  color: #fff;
  cursor: pointer;
}

.car-image {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-image img {
  width: 600px;
  height: 401px;
  object-fit: cover;
  display: block;
  margin-top: 10px;
  transition: 0.4s ease;
}

.specs {
  width: 40%;
  background: transparent;
  padding: 20px;
  box-sizing: border-box;
  transform-origin: top right;
  height: 400px;
  width: 100%;
  position: static;
  margin-top: 10bpx;
  transform: none;
}

.specs h2 {
  margin: 0 0 5px;
}

.sub {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.row {
  font-size: 14px;
  margin: 8px 0;
}

.row span {
  font-weight: bold;
}

hr {
  margin: 20px 0;
}

.options {
  position: absolute;
  bottom: -50px;
  left: 30px;
  display: flex;
  gap: 60px;
  align-items: center;
}

.colors {
  display: flex;
  gap: 10px;
  position: relative;
  bottom: 85px;
  left: 800px;
}
.paint {
  margin-left: 92px;
  font-weight: bold;
  font-size: 20px;
}
.colors span {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #333;
  cursor: pointer;
  transition: 0.3s;
}
.colors span:hover {
  transform: scale(1.3);
}

.black {
  background: #000;
}
.white {
  background: #fff;
}
.blue {
  background: #021e75;
}
.gray {
  background: #999;
}

.wheels span {
  background: radial-gradient(circle, #444, #000);
}

h1 {
  margin-top: 20px;
  text-align: center;
}

.details-info {
  display: grid;
  grid-template-columns: repeat(2, 450px);
  grid-template-rows: repeat(2, 300px);
  gap: 20px;
  margin-left: 20px;
  justify-content: center;
}
.details-i {
  background: var(--third);
  padding: 10px;
  color: var(--primary);
  border-radius: 20px;
}
.details-i p {
  text-align: left;
  font-size: 19px;
}
.details-i h2 {
  color: var(--secondry);
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(3, 380px);
  justify-content: center;
  padding: 20px;
  line-height: 22px;
  gap: 40px;
  margin-top: 20px;
}

.child {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 5px 30px gray;
  transition: 0.7s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: transparent;
  border-radius: 10px;
  border: none;
}
.child h2,
p {
  text-align: center;
  padding: 0;
}

.child img {
  width: 200px;
  height: 150px;
  margin-left: 12%;
  border-radius: 10px;
}

p {
  font-weight: bold;
}
.child a {
  background: var(--primary);
  height: 40px;
  width: 150px;
  color: white;
  border-radius: 10px;
  border: none;
  position: relative;
  left: 60px;
  text-align: center;
  padding-top: 10px;
}
.child a:hover {
  background: var(--fourth);
}
.child:hover {
  transform: scale(1.1115);
}

.spar {
  margin-left: 40%;
  color: var(--secondry);
  margin-top: 50px;
}
.info {
  color: var(--secondry);
  margin-top: 50px;
  margin-bottom: 40px;
}
