:root {
  --primary: #1e2e4f;
  --secondry: #8fb3e2;
  --third: #d9e1f1;
  --fourth: #192338;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(247, 243, 243);
}
.header {
  background-image: url(ale-aguilar-6pT4gnuz_uQ-unsplash.jpg);
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}
#search {
  background-color: transparent;
}
nav {
  display: flex;
  gap: 300px;
  padding: 10px;
  position: absolute;
  margin-left: 20px;
  margin-top: 30px;
  align-items: center;
  align-content: center;
}
nav h1 {
  color: white;
  margin-left: 13px;
}
nav h1:hover {
  color: var(--third);
}
nav span {
  margin-left: 20px;
}
li input {
  border: none;
  border-bottom: 2px white solid;
  color: white;
  padding-left: 13px;
}
li input:focus {
  outline: none;
  border: none;
  border-bottom: 2px white solid;
}
::placeholder {
  color: white;
}
.header h2 {
  color: white;
  position: absolute;
  top: 85%;
  left: 2%;
  font-size: 40px;
  font-weight: bold;
}
a:hover {
  color: white;
}
ul {
  padding: 10px;
  display: flex;
  gap: 50px;
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.carcategory {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
  height: 350px;
  background-color: white;
  height: 400px;
  width: 90%;
  align-items: center;
  margin-left: 80px;
  border-radius: 10px;
}
#Button {
  padding: 10px 10px;
}
.card {
  background-image: url(me.jpg);
  width: 230px;
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.card,
.card1,
.card2,
.card3,
.cards,
.cards1,
.cards2,
.cards3 {
  transition: 0.8s;
  border-radius: 10px;
}
.card:hover,
.card1:hover,
.card2:hover,
.card3:hover,
.cards:hover,
.cards1:hover,
.cards2:hover,
.cards3:hover {
  transform: scale(1.1);
}
.card1 {
  background-image: url(porshe.jpg);
  width: 230px;
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.card2 {
  background-image: url(bmw.jpg);
  width: 230px;
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.card3 {
  background-image: url(lambo.jpg);
  width: 230px;
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.hh {
  margin-left: 140px;
  color: rgb(13, 5, 37);
  margin-top: 80px;
}
.card a,
.card1 a,
.card2 a,
.card3 a {
  position: relative;
  top: 78%;
  padding: 10px;
  left: 100px;
  background-color: var(--fourth);
  border-radius: 10px;
}
.hh1 {
  margin-left: 140px;
  color: black;
  margin-top: 20px;
}

.trendingvic {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
  height: 350px;
  background-color: white;
  height: 400px;
  width: 90%;
  align-items: center;
  margin-left: 80px;
  border-radius: 10px;
}
.cards {
  background-image: url(bmwm4.jpg);
  width: 230px;
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
.cards h2,
.cards1 h2,
.cards2 h2,
.cards3 h2 {
  top: 10px;
  left: 10px;
  position: relative;
}
.card h2,
.card1 h2,
.card2 h2,
.card3 h2 {
  top: 10px;
  left: 10px;
  position: relative;
}
.cards1 {
  background-image: url(gclass.jpg);
  width: 230px;
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cards2 {
  background-image: url(audia7.jpg);
  width: 230px;
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}
.cards3 {
  background-image: url(rangerover.jpg);
  width: 230px;
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.trend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.trend a {
  margin-top: 30px;
  margin-right: 190px;
  width: 120px;
  height: 40px;
  text-align: center;
  align-content: center;
  background: var(--primary);
  border-radius: 5px;
  font-size: 15 px;
}
.cards3 a,
.cards a,
.cards1 a,
.cards2 a {
  position: relative;
  top: 70%;
  padding: 10px;
  left: 43%;
  background-color: var(--fourth);
  border-radius: 5px;
}
.cards p,
.cards1 p,
.cards2 p,
.cards3 p {
  position: relative;
  top: 78%;
  left: 10px;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}

.spare-parts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  margin-top: 20px;
  height: 350px;
  margin-left: 120px;
}
.spare-section {
  height: 110vh;
  background-color: rgb(235, 235, 235);
  width: 90%;
  margin-left: 80px;
  align-items: center;
  border-radius: 20px;
  position: relative;
}

.spare-title {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  position: relative;
  top: 20px;
}

.spare-title h1 {
  margin-left: 130px;
  color: rgb(13, 5, 37);
}

.spare-title a {
  width: 125px;
  height: 35px;
  border-radius: 5px;
  background-color: var(--primary);
  text-align: center;
  align-content: center;
  margin-right: 90px;
}

.spare {
  width: 230px;
  height: 270px;
  margin-bottom: 40px;
  transition: 0.7s ease;
  border-radius: 8px;
}
.spare:hover {
  transform: scale(1.1);
}
#sp1 {
  background-image: url(IMG-20251218-WA0001.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#sp2 {
  background-image: url(IMG-20251218-WA0002.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#sp3 {
  background-image: url(IMG-20251218-WA0003.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#sp4 {
  background-image: url(IMG-20251218-WA0004.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#sp5 {
  background-image: url(IMG-20251218-WA0005.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#sp6 {
  background-image: url(IMG-20251217-WA0041.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#sp7 {
  background-image: url(IMG-20251217-WA0038.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#sp8 {
  background-image: url(IMG-20251217-WA0042.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.spare-section .spare a {
  width: 120px;
  height: 35px;
  border-radius: 20px;
  background-color: transparent;
  position: absolute;
  text-align: center;
  align-content: center;
  margin-top: 230px;
  margin-left: 100px;
  opacity: 90%;
  border: 0.7px black solid;
  color: black;
}
.spare-section .spare h2 {
  color: black;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
}
footer {
  background-color: var(--fourth);
  height: 50px;
  color: white;
  text-align: center;
  align-content: center;
  margin-top: 20px;
}
