:root{
    --primary: #1e2e4f98;
    --secondry: #8fb3e2;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.ee{
    display: flex;
}
.line2{
    width: 2px;
    height: 18px;
    background: var(--secondry);
    margin-top: 12px;
    margin-left: 10px;
}
.login{
    height: 100vh;
    text-align: center;
}
.login::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(newimage2.jpg);
    background-size: cover;
    z-index: -1;
}
p{
    color: #fff;
}
.login-form{
    background:var(--primary);
    height: 450px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.login-form .input1{
    margin-bottom: 20px;
    border: none;
    width: 90%;
    border-bottom:2px solid var(--secondry) ;
    background: transparent;
    padding: 8px 5px;
    font-size: 16px;
    color:#fff;
    margin-top: 35px;
}
.line{
    width: 70px;
    height: 3px;
    background: var(--secondry);
    position: absolute;
    left: 2%;   
}
.check{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom:20px ;
    color: #ffffffa5;
}
::placeholder{
    color: aliceblue;
}
.login-form a{
    margin-bottom: 10px;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;

}
.login-form button{
width:90px;
height: 30px;
background: var(--secondry);
border: none;
border-radius: 5px;
color: #fff;
font-weight: bold;
font-size: 15px;
margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: var(--secondry);
}

